.wrapper {
  margin: 32px;
}

table {
  margin: 32px 0;
}

.view-btn {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  text-decoration: none;
}

.inventory-details {
  margin-top: 32px;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
}
